.git
.venv
.venv.backup-*
.venv.tmp-*
.test-logs
/.autotest
/.idea
/.rucio-dev
/.githubtoken
/.gitlabkey
/alembic.ini
/etc/alembic.ini
/etc/globus-config.yml
/etc/ldap.cfg
/etc/rse-accounts.cfg
/etc/rucio-server-gcs.json
/etc/rucio.cfg
/etc/web/httpd*.conf
/etc/web/lighttpd*.conf
*.proxy
demoCA
full.pem
proxy.pem
request.pem
usercert.pem
userkey.pem
x509up*
.coverage*
.mypy_cache
.pytest_cache
.ruff_cache
**/__pycache__
**/*.pyc
**/*.pyo
covhtml
test-results
build
cache
dist
node_modules
